<div class="form-container">
  <h2>Nuevo Préstamo</h2>
  <form [formGroup]="miForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Usuario:</label>
      <select formControlName="idUsuario">
        <option value="">Seleccione un usuario</option>
        <option *ngFor="let u of usuarios" [value]="u.id">
          {{ u.user }}
        </option>
      </select>
      <div *ngIf="miForm.get('idUsuario')?.touched && miForm.get('idUsuario')?.invalid">
        <small *ngIf="miForm.get('idUsuario')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <div class="form-group">
      <label>Persona:</label>
      <select formControlName="idPersona">
        <option value="">Seleccione una persona</option>
        <option *ngFor="let p of personas" [value]="p.id">
          {{ p.nombre }} {{ p.apellido }}
        </option>
      </select>
      <div *ngIf="miForm.get('idPersona')?.touched && miForm.get('idPersona')?.invalid">
        <small *ngIf="miForm.get('idPersona')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <div class="form-group">
      <label>Libro:</label>
      <select formControlName="idLibro">
        <option value="">Seleccione un libro</option>
        <option *ngFor="let l of libros" [value]="l.id">
          {{ l.titulo }}
        </option>
      </select>
      <div *ngIf="miForm.get('idLibro')?.touched && miForm.get('idLibro')?.invalid">
        <small *ngIf="miForm.get('idLibro')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <div class="form-group">
      <label>Multa:</label>
      <input type="number" formControlName="multa">
      <div *ngIf="miForm.get('multa')?.touched && miForm.get('multa')?.invalid">
        <small *ngIf="miForm.get('multa')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <button type="submit" [disabled]="miForm.invalid">Guardar Préstamo</button>
  </form>
</div>
