<div class="form-container">
  <h2>Nueva Persona</h2>
  <form [formGroup]="miForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre">
      <div *ngIf="miForm.get('nombre')?.touched && miForm.get('nombre')?.invalid">
        <small *ngIf="miForm.get('nombre')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <div class="form-group">
      <label>Apellido:</label>
      <input type="text" formControlName="apellido">
      <div *ngIf="miForm.get('apellido')?.touched && miForm.get('apellido')?.invalid">
        <small *ngIf="miForm.get('apellido')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <div class="form-group">
      <label>DNI:</label>
      <input type="text" formControlName="dni">
      <div *ngIf="miForm.get('dni')?.touched && miForm.get('dni')?.invalid">
        <small *ngIf="miForm.get('dni')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
      </div>
    </div>
    <div class="form-group">
      <label>Correo:</label>
      <input type="email" formControlName="correo">
      <div *ngIf="miForm.get('correo')?.touched && miForm.get('correo')?.invalid">
        <small *ngIf="miForm.get('correo')?.errors?.['required']" style="color: red;">Campo obligatorio</small>
        <small *ngIf="miForm.get('correo')?.errors?.['email']" style="color: red;">Formato de correo inválido</small>
      </div>
    </div>
    <button type="submit" [disabled]="miForm.invalid">Guardar Persona</button>
  </form>
</div>
